YT_API = 'ABC123'
YT_CHANNEL_MAP="channelname:channelID"
YT_DAYS_TO_ANALYZE=0

# Configuración CallMeBot WhatsApp
WHATSAPP_NUMBER_1="+1234567890"
WHATSAPP_KEY_1="xxxxxx"
WHATSAPP_NUMBER_2="+0987654321"
WHATSAPP_KEY_2="yyyyyy"